body {
  border-radius: 25px;
  background: #2f4f4f;
  padding: 20px;
  width: 400px;
  height: 150px;
}
button{
  border-radius: 25px;
}
h5{

  border-radius: 15px;
  background: #e1b3f5;
  width: 17%;
}
h6{
  border-radius: 25px;
  background: #e1b3f5;

}
input{
  background-color: #e1b3f5;
  border-radius: 25px;
}
